/*------------------------- footer -------------------------*/
.footer
	background: #333840
	color: $gray-light 
	.footer-i
		width: 1224px
		padding: 0 18px
		margin-left: auto
		margin-right: auto
	.footer__row
		padding: 22px 0
		+clr
	.footer__row_mod
		padding: 24px 0 24px
		border-bottom: 2px solid #fff
	.footer__row_mod2
		border-top: 2px solid #fff
	.footer__row_center
		margin-left: 5px
		.footer__label1
			width: 312px
		.footer__label2
			width: 314px
		.footer__label3
			width: 312px
		.footer__label4
			width: 281px
.footer__label
	width: 306px
	float: left
	+clr
	.footer__label-top
		height: 19px
		margin-top: 5px
		margin-bottom: 15px
		.h4
			text-transform: uppercase
			color: #FFF
			+pb
.footer__list
	width: 153px
	float: left
	.footer__list-top
		height: 19px
		margin-top: 5px
		margin-bottom: 15px
		.h4
			text-transform: uppercase
			color: #FFF
			+pb
	ul
		li
			margin-bottom: 3px
			color: $gray-light 
		a
			text-decoration: none
			color: $gray-light
			+transition(all .2s ease-in)
			&:hover
				color: $gray-light_h
				+transition(all .2s ease-in)
.footer__meta
	height: 19px
	margin-bottom: 15px
	text-transform: uppercase
	color: #FFF
	+pb
.footer__tel
	padding-left: 4px
	margin-right: 34px
	letter-spacing: 1.5px
	display: inline-block
	vertical-align: middle
	font-size: 28px
	color: #FFF
	+is
.footer__social
	margin-right: 121px
	display: inline-block
	vertical-align: middle
.footer__yandex
	margin-top: 8px
	margin-right: 58px
	display: inline-block
	vertical-align: middle
	.i-yandex
		margin-right: 20px
		float: left
		+s(i-yandex)
	.star
		margin-top: 3px
		float: left
.footer__delivery
	margin-top: -8px
	display: inline-block
	vertical-align: middle
.footer__delivery-title
	margin-bottom: 12px
	text-transform: uppercase
	color: #FFF
	font-size: 14px
	line-height: 1
	letter-spacing: 1.5px
	+pb
	.h4
		letter-spacing: 0.02em
		text-transform: uppercase
		color: #FFF
		font-size: 14px
		+pb
.delivery-form
	width: 278px
	padding: 1px 0
	background: #FFF
	+border-radius(2px)
	+box-shadow(0 0 0 1px #333840, inset 0 0 5px rgba(0,0,0, .25))
	overflow: hidden
	float: right
	+clr
	.delivery-form__input
		width: 170px
		padding: 2px 3px 2px 7px
		height: 24px
		float: left
		font-size: 14px
		color: $gray
		+p
		+placeholder
			font-size: 14px
			color: $gray
			+ps
	.delivery-form__btn
		margin: 2px 3px 0 0
		float: right
		+s(btn-search2)
		color: #FFF
		font-size: 12px
		+pb
		+transition(all .2s ease-in)
		&:hover
			+opacity(0.8)
			+transition(all .2s ease-in)
		&:active
			position: relative
			top: 1px

.star
	+clr
	li
		margin: 0 3px
		float: left
	a
		display: inline-block
	.i-star_a
		+s(i-star_a)
	.i-star_un
		+s(i-star_un)

.footer__for-us
	padding-right: 30px
	line-height: 1.6
.footer__step
	padding-right: 40px
	margin-bottom: 50px
	line-height: 1.2
.table
	ul
		margin-left: -8px
		+clr
	li
		width: 32px
		height: 32px
		margin-left: 8px
		margin-bottom: 8px
		float: left
		background: #6D6E70

.footer__kont-item
	margin-bottom: 35px
.footer__kont-mail
	text-decoration: none
	color: $blue
	+is
	a
		text-decoration: none
		color: $blue
		+is
.footer__step-date
	margin-top: 5px
	color: $blue
	font-size: 12px
	+is

.part1
	margin-right: 14px
.part2
	margin-right: 17px
.part3
	margin-right: 11px
.part4
.part5