/*------------------------- Normally mainpage styles -------------------------*/
.social
	+clr
	li
		margin: 0 10px
		float: left
	a
		display: block
		+hide-text
		+transition(all .2s ease-in)
		&:hover
			+transition(all .2s ease-in)
			+opacity(0.6)
		&:active
			position: relative
			top: 1px
	.social__fb
		+s(fb)
	.social__vk
		+s(vk)
	.social__tw
		+s(tw)
	.social__od
		+s(od)

// alphabet
.alphabet
	width: 275px
	+clr
	li
		margin: 0 4px 3px
		float: left
	a
		text-decoration: none
		color: $gray-light
		+transition(all .2s ease-in)
		&:hover
			color: $gray-light_h
			+transition(all .2s ease-in)

.alphabet-filter
	height: 32px
	line-height: 32px
	overflow: hidden
	ul
		+clr
	li
		margin: 0 5px
		float: left
	a
		font-size: 12px
		text-decoration: none
		color: #6D6E70
		+pb
	.alphabet-filter__border
		margin-right: 27px
		position: relative
		&:after
			content: ""
			width: 15px
			height: 1px
			background: #939597
			position: absolute
			top: 15px
			right: -25px
		span
			margin: 0 5px
// payment-methods
.payment-methods
	+clr
	li
		margin: 0 0px 14px
		float: left

// wrap-gallery
.wrap-gallery
	margin-top: 30px
	+clr

// gallery
.gallery
	float: left
	position: relative
.gallery__item
	position: relative 
.gallery__item-img 
	width: 816px
	height: 336px
	line-height: 336px
	overflow: hidden  
	img 
		min-width: 816px
		max-height: 336px
.gallery__title 
	margin-bottom: 69px 
	margin-left: 25px
	font-size: 56px
	line-height: 1
	text-transform: uppercase
	color: #FFF
	+isb
.gallery__item-descr
	width: 432px
	position: absolute
	left: 50%
	top: 80px
	margin-left: -213px
.gallery__prev, .gallery__next
	position: absolute
	z-index: 100
	top: 50%
	margin-top: -37px
	cursor: pointer
	+hide-text
.gallery__pager
	position: absolute
	left: 0
	right: 0
	bottom: 12px
	text-align: center
	span
		width: 8px
		height: 8px
		margin: 0 4px
		display: inline-block
		+border-radius(50%)
		background: rgba(#fff, .3)
		position: relative
		z-index: 1000
		+hide-text
		&.cycle-pager-active
			background: rgba(#fff, .8)
.gallery__prev
	left: 0
	+s(i-slider_l2)
.gallery__next
	right: 0
	+s(i-slider_r2)
.gallery__item-label
	height: 40px
	line-height: 40px
	padding: 0 25px
	background: #d76c05 
	+g(#ed7e00, #be580a)
	+border-radius(3px)
	font-size: 16px
	color: #fff
	+is
	position: relative
	&:after, &:before
		content: ""
		width: 20px
		height: 20px
		+border-radius(50%)
		background: #d76c05 
		+g(#e27502, #c86008)
		position: absolute
		top: 10px
	&:after
		left: -8px
	&:before
		right: -8px
// banner
.banner 
	width: 400px 
	float: left 
.banner__item
	width: 400px  
	height: 112px
	overflow: hidden
	img 
		width: 100%
		
// partners
.partners
	margin-top: 6px
	ul
		+justify
	li
		+justify-child
		a
			display: inline-block
			vertical-align: middle
			line-height: 1.1
			text-transform: uppercase
			color: #0086EA
			text-align: center
			text-decoration: underline
			+pb
			&:hover
				text-decoration: none
	.partners__all
		line-height: 99px

// product-list
.product-list
	margin-bottom: 25px
	position: relative
	margin-left: -15px
	margin-right: -15px
	.cycle-slideshow
		margin-right: -15px
	ul
		+clr
	li
		width: 208px
		float: left
	.product-list__prev, .product-list__next
		position: absolute
		top: 81px
		cursor: pointer
		z-index: 1000
	.product-list__prev
		left: -8px
		+s(i-arr2_l)
	.product-list__next
		right: -11px
		+s(i-arr2_r)

.label
	display: inline-block
	padding: 3px 8px
	margin-bottom: 15px
	+border-radius(2px)
	text-transform: uppercase
	font-size: 11px
	line-height: 1
	color: #fff 
	+pb
.label_discount
	background: #ED1B2D
.label_discount2
	background: #A80081 
.label_new
	background: #0086EA
.label_orange
	background: #ED7E00 
	
.promo
	margin-bottom: 24px
	background: #53BCAA
	position: relative
	+border-radius(5px)
	+clr
	&:after, &:before
		content: ""
		width: 20px
		height: 20px
		background: #fff
		+border-radius(50%)
		position: absolute
		top: 18px
	&:after
		left: -12px
	&:before
		right: -12px
.promo__num
	height: 56px
	float: left
	ul
		+clr
	li
		width: 204px
		height: 56px
		line-height: 56px
		float: left
		position: relative
	.ico
		position: absolute
	.promo__item-descr
		vertical-align: middle
		display: inline-block
		text-align: left
		line-height: 1.2
		color: #FFF
		+is
	.promo__item-meta
		line-height: 1
		text-transform: uppercase
		+pb
.promo__num
	.promo__item1
		width: 159px
		padding-left: 81px
		.i-ico1
			top: 19px
			left: 41px
	.promo__item2
		width: 169px
		padding-left: 42px
		.i-ico2
			top: 13px
			left: 1px
	.promo__item3
		width: 164px
		padding-left: 46px
		.i-ico3
			left: 3px
			top: 15px
	.promo__item4
		width: 96px
		padding-left: 46px
		.i-ico4
			left: 5px
			top: 12px

.promo__tel
	height: 56px
	line-height: 56px
	padding-left: 70px
	letter-spacing: 0.05em
	position: relative
	overflow: hidden
	font-size: 28px
	text-align: center
	color: #FFF
	+is
	.ico
		position: absolute
		top: 12px
		left: 69px
.promo__tel-num
	height: 56px
	line-height: 56px
	display: inline-block

.novelty
	+clr
	.product
		width: 174px
.novelty__list
	margin-left: -15px
	float: left
	+clr
	li
		width: 208px
		float: left
	.product__img
		margin-bottom: 0
	.product__title
		font-family: "istok", arial, sans-serif
		a
			font-family: "istok", arial, sans-serif

.product__row-label
	width: 208px
	height: 18px
	position: absolute
	bottom: -10px
	.label
		// margin-top: 2px
		margin-right: 1px
		position: static
		float: left
	.star
		width: 90px
		margin-top: 2px
		float: left
		line-height: 1
		img
			margin-left: -5px
.product__row-label_align
	text-align: left
.product__title_cat
	margin-top: 3px
	margin-bottom: 5px
.novelty__banner
	overflow: hidden
.novelty__banner_mod
	.novelty__banner-item
		margin-bottom: 0
.novelty__banner-item
	margin-bottom: 16px
	a, img
		display: block
// slist
.slist
	margin-bottom: 34px
	+clr
	ul
		width: 125px
		margin-left: 30px
		float: left
		&:first-child
			margin-left: 0
	li
		line-height: 1.2
	a
		width: 125px
		display: inline-block
		color: #0086EA
		line-height: 1
		text-decoration: none 
		font-size: 12px
		+text-overflow
		+is
	.slist__title
		height: 32px
		line-height: 32px
		margin: 7px 0
		.h3
			color: #353C3F
			text-transform: uppercase
			font-size: 12px
			line-height: 1
			vertical-align: middle
			display: inline-block
			+pb
.slist__mod
	a
		color: #BC5609 
// best
.best
	padding: 25px 0 27px 15px
	background: #FAA519
	+clr
.best__left
	width: 278px
	margin-right: 50px
	margin-left: -20px
	float: left
	+clr
.best__note
	width: 265px
	float: right
	font-size: 12px
	line-height: 1.8
	color: rgba(#fff, .5) 
	+is
.best__list 
	overflow: hidden
.best__list-title
	margin-bottom: 23px
	color: #FFF
	font-size: 28px
	line-height: 1
	+isb
.best__list-row
	+clr
.best__list-item
	width: 280px
	margin-left: 29px
	line-height: 1.45
	float: left
	color: #fff
	+is
	&:first-child
		margin-left: 0
.best__list-meta
	margin-bottom: 10px
	color: #353C3F
	text-transform: uppercase
	+pb

// subnav
.subnav
	padding: 20px 15px
	margin-bottom: 25px
	background: #53BCAA
	+border-radius(5px)
	ul
	li
		border-bottom: 1px solid #41C6B7
	a
		margin: 3px 0
		display: block
		color: #fff
		text-decoration: none 
.subnav_mod
	padding: 10px 17px 3px
	margin-bottom: 18px
	.subnav__title
		margin-bottom: 12px
	li
		border-bottom: none
	a
		margin: 5px 0
.subnav__title
	margin-bottom: 20px
	text-decoration: none
	font-size: 14px
	+pb
	font-weight: bold
	text-decoration: underline
	color: #fff
	&:hover
		text-decoration: none
	a
		text-decoration: none
		+pb
		font-weight: bold
		text-decoration: underline
		color: #fff
		&:hover
			text-decoration: none

// banner-mini 
.banner-mini
.banner-mini__item
	width: 280px
	height: 110px
	overflow: hidden
	margin-bottom: 15px
	img
		width: 100%
		display: block

.goods
	margin-bottom: 40px
.goods__row
	+clr
.goods__left
	width: 592px
	float: left
.goods__right
	width: 312px
	float: right
.goods__right-in
	margin-top: 75px
.goods__right-note
	margin-bottom: 30px
	font-size: 14px
	color: #939597
	+is
.goods__title
	margin-top: 20px
	margin-bottom: 10px
	font-size: 30px
	line-height: 1
	+is
.goods__title_blue
	color: $blue
	letter-spacing: 0.2px
.goods__meta
	margin-top: 25px
	margin-bottom: 15px
	+clr
.goods__meta-label
	float: left
.goods__meta-label1
	width: 160px
.goods__meta-label2
	width: 210px
.goods__meta-label3
	overflow: hidden
.goods__meta-desc
	color: #353C3F
	text-transform: uppercase
	+pb
.goods__content
	padding-right: 50px
	color: #6D6E70
	+is
	p
		margin-bottom: 15px
.goods__meta-more
	text-decoration: none
	color: $blue
	+is
.goods-list
	+clr
	.goods-list__left
		width: 280px
		margin-right: 16px
		float: left
	.goods-list__right
		overflow: hidden
.goods-list__item
	margin-bottom: 15px
	.goods-list__item-meta
		color: #353C3F
		+isb
	.goods-list__item-descr
		color: #6D6E70
		+is
// breadcrumbs
.breadcrumbs
	ul
		+clr
	li
		margin-left: 25px
		float: left
		&:first-child
			margin-left: 0
			a
				&:after
					content: none
	a
		color: $gray
		text-decoration: none 
		position: relative
		&:before
			content: ""
			position: absolute
			top: 6px
			left: -22px
			+s(i-arr_bc)
			&:first-child
				content: none

// favorites
.favorites
	color: #0086EA
	font-size: 12px
	text-transform: uppercase
	text-decoration: none
	+pb
	&:before
		content: ""
		margin-right: 10px
		display: inline-block
		vertical-align: middle
		+s(heart_blue)

// produce
.produce
	+clr
.produce__left
	width: 280px
	margin-right: 16px
	float: left
.produce__right
	padding: 0 16px 
	overflow: hidden
.produce__right-label
	height: 280px
	margin-top: 12px
	margin-bottom: 16px
.produce__right-label_mod
	height: 195px
.produce__right-descr
	height: 225px
.produce__right-descr_mod
	height: 149px
.produce__price
.produce__price-old
	display: inline-block
	position: relative
	color: #353C3F
	font-size: 16px
	+is
	&:before
		content: ""
		background: url(../img/icons/i-line.png) 0px 0px no-repeat
		width: 68px
		height: 6px
		position: absolute
		top: 6px
		left: 50%
		margin-left: -34px
.produce__price-actual
	color: #ED1B2D
	font-size: 28px
	+isb
.produce__media
	width: 279px
	height: 279px
	line-height: 279px
	margin-bottom: 8px
	border: 1px solid #e6e6e6
	overflow: hidden
	text-align: center
	img
		display: inline-block
		vertical-align: middle
.produce__caro
	+clr
	font-size: 0
.produce__caro-media
	width: 62px
	height: 62px
	line-height: 62px
	margin-left: 8px
	display: inline-block
	text-align: center
	overflow: hidden
	border: 1px solid #939597
	font-size: 0
	&:first-child
		margin-left: 0
	img
		display: inline-block
		vertical-align: middle
.produce__row
	margin-bottom: 21px
	+clr
	.star
		margin-right: 19px
		float: left
	.reviews
		float: left
.produce__basket
	height: 64px
	line-height: 64px
	.input-mini
		margin-right: 11px
.produce__article
	margin-bottom: 10px
	line-height: 1
	color: #939597
	+is
.produce__article-descr
	text-decoration: none
	color: $blue
	+isb
// star
.star
	img
		cursor: pointer
		margin-left: -2px
// reviews
.reviews
	position: relative
	text-decoration: none
	color: $blue
	+is 
	&:before
		content: ""
		margin-right: 8px
		display: inline-block
		vertical-align: middle
		+s(i-comm)
// input-mini
.input-mini
	width: 41px
	height: 46px
	line-height: 46px
	padding-right: 14px
	text-align: right
	vertical-align: middle
	+border-radius(3px)
	border: 1px solid #939597
	+box-shadow(inset 0 0 3px #939597)
	font-size: 28px 
	color: #353C3F
	+isb

// btn
.btn
	height: 32px
	line-height: 32px
	padding: 0 30px
	display: inline-block
	vertical-align: middle
	position: relative
	text-transform: uppercase
	text-decoration: none
	text-align: center
	color: #FFF
	+pb
	&:before, &:after
		content: ""
		width: 4px
		height: 32px
		position: absolute
		top: 0
	&:before
		left: -2px
	&:after
		right: -2px
	&:hover
		+opacity(0.8)
	&:active
		top: 1px

// btn-orange
.btn-orange
	height: 50px
	line-height: 49px
	padding: 0 17px
	background: url(../img/icons/btn_center-or.png) 0px 0px repeat-x
	display: inline-block
	vertical-align: middle
	font-size: 20px
	color: #FFF
	text-decoration: none
	position: relative
	+pb 
	&:before, &:after
		content: "" 
		width: 7px
		height: 50px
		position: absolute 
		top: 0
	&:before
		background: url(../img/icons/btn_left-or.png) 0px 0px no-repeat
		left: -7px
	&:after
		background: url(../img/icons/btn_right-or.png) 0px 0px no-repeat
		right: -7px 
	&:hover
		+opacity(0.8)
	&:active
		top: 1px
		
.btn-orange2
	width: 80px
	height: 30px
	line-height: 32px
	font-size: 13px 
	color: #fff
	+isb
	position: static
	text-decoration: none
	background: none
	box-shadow: 0 2px 0 #D7D8D9
	border: 1px solid #B9561E 
	border-radius: 4px 
	background: #F5A14C 
	background-color: #f6a33e // Old browsers
	//@include filter-gradient(#f6a33e, #e67d28, vertical)
	+background-image(linear-gradient(top, #f6a33e 0%,#e87e29 50%,#c97840 51%,#e67d28 100%))
	display: inline-block 
	vertical-align: middle
	text-align: center
	&:hover
		+background-image(linear-gradient(top, #F6A437 0%,#EB8F3F 50%,#D38951 51%,#EB9544 100%))
	&:active
		+background-image(linear-gradient(top, #CB8930 0%,#C1702B 50%,#AB6735 51%,#BF6A22 100%))

// btn-green
.btn-green
	background: url(../img/icons/btn_center-bl.png) 0px 0px repeat-x
	&:before
		background: url(../img/icons/btn_left-bl.png) 0px 0px no-repeat
	&:after
		background: url(../img/icons/btn_right-bl.png) 0px 0px no-repeat
		
// btn-gray
.btn-gray
	background: url(../img/icons/btn_center-gr.png) 0px 0px repeat-x
	&:before
		background: url(../img/icons/btn_left-gr.png) 0px 0px no-repeat
	&:after
		background: url(../img/icons/btn_right-gr.png) 0px 0px no-repeat

.btn_basket
	padding: 0 16px 0 13px
	letter-spacing: -0.01em
	.i-basket
		margin-top: -10px
		margin-right: 12px

.delivery
	margin-bottom: 15px
	color: #00A550
	text-transform: uppercase
	+pb
	position: relative
	&:after
		content: ""
		margin-left: 15px
		display: inline-block
		+s(i-car)

.day
	margin-bottom: 15px
	+is
.day__title
	color: #353C3F
	font-size: 25px
.day__date
	font-size: 14px
	color: #6D6E70

.consultant
	margin-bottom: 75px
	+clr
.consultant__media
	width: 88px
	height: 88px
	margin-right: 16px
	float: left
	overflow: hidden
	+border-radius(50%)
	background: red
	img
		width: 100%
.consultant__descr
	overflow: hidden
.consultant__question
	margin-bottom: 10px
	color: #6D6E70
	+is 
.consultant__name
	display: inline-block
	position: relative
	font-size: 20px
	color: $blue
	+is
	a
		font-size: 20px
		color: $blue
		text-decoration: none
		+is
.consultant__name-status
	width: 110px
	position: absolute
	top: 0px
	right: -110px
	color: #41C6B7
	font-size: 10px
	text-transform: uppercase
	+pb
	
// more-product
.more-product__title
	margin-bottom: 20px
	color: #353C3F
	text-transform: uppercase
	+pb
.more-product__item
	margin-bottom: 10px
	+clr
.more-product__item-media
	width: 88px
	height: 88px
	line-height: 88px
	margin-right: 16px
	float: left
	overflow: hidden
	text-align: center
	img
		max-width: 100% 
		vertical-align: middle
.more-product__item-descr
	padding-top: 10px
	overflow: hidden
.more-product__item-name
	margin-bottom: 10px
	display: block
	color: $blue
	text-decoration: none
	+is
.more-product__price
	text-align: right
	font-size: 12px
	+isb
	&:after
		content: ""
		display: inline-block
		+s(i-basket2)

// popup-product
.popup-product
	width: 592px
	padding: 4px 15px 19px 31px
	border: 1px solid #c4c4c4
	+border-radius(4px)
	+box-shadow(0 0 3px rgba(#000, .25))
	position: absolute
	top: 150px
	left: 50%
	margin-left: -298px
.i-cross
	position: absolute
	top: 14px
	right: 15px
	cursor: pointer
	+s(i-cross)
.popup-product__content
	margin-top: 10px
	margin-bottom: 13px
	color: #6D6E70
	+is
	p
		margin-bottom: 1px
.popup-product__row
	+clr
.popup-product__label
	width: 190px
	float: left
.popup-product__label1
	margin-right: 13px
.popup-product__label2
	width: 174px
.popup-product__label-item
	text-decoration: none
	color: $blue
	+is 
.more
	color: #0086EA
	text-decoration: none
	+is
.num
	width: 16px
	height: 16px
	line-height: 16px
	display: inline-block
	+border-radius(50%)
	background: #FFF
	color: #486181
	font-size: 12px
	text-align: center
	font-style: normal
	+isb
.profile-nav
	width: 242px
	padding: 7px 8px
	margin-bottom: 50px
	background: #53BCAA
	+border-radius(4px)
	li
	a
		padding: 7px 10px
		line-height: 1.3
		display: block
		color: #fff
		text-decoration: none
		+border-radius(2px)
		+isb
		&:hover
			background: #4f999b 
	.is-active
		background: #1E6D5F


// user-data
.user-data
	margin-bottom: 50px
	&.user-data_page2
		.user-data__title
			margin-top: 9px
			margin-left: 7px
			margin-bottom: 25px
			margin-right: 22px
.user-data_mod
	width: 470px
	float: left
.user-data_mod2
	width: 434px
	margin-top: 60px
	float: left
	.user-data__form
		width: 404px
		.user-data__edit-red
			color: #939597
		.user-data__edit-del
			color: #939597
.user-data__title
	margin-left: 8px
	margin-bottom: 25px
	margin-right: 25px
	line-height: 1
	display: inline-block
	font-size: 30px
	color: #000
	+is
.user-data__form
	width: 415px
	padding: 15px
	background: #f5f5f5
	color: #353C3F
	+is
	&.user-data__form_mod
		width: 416px
		padding: 13px 15px 9px
		margin-left: 7px
		border: 1px solid #ed7e00
		.user-data__form-user
			margin-bottom: 13px
		.user-data__form-tel
			margin-bottom: 12px
		.user-data__form-addr
		.user-data__edit
			margin-top: 12px
	.user-data__form-user
		margin-bottom: 15px
		+isb
	.user-data__form-tel
		margin-bottom: 15px
	.user-data__edit
		padding-top: 10px
		margin-top: 10px
		border-top: 1px solid #AEACAE
	.user-data__edit-red
		margin-right: 5px
		display: inline-block
		color: $blue
		text-decoration: underline
		cursor: pointer
		&:hover
			text-decoration: none
	.user-data__edit-del
		display: inline-block
		color: #ED1B2D
		text-decoration: underline
		cursor: pointer
		&:hover
			text-decoration: none
.user-data__new
	display: inline-block
	color: $blue
	+is
	&:hover
		text-decoration: none
.user-data__section
	margin-bottom: 30px
.user-data__row
	margin-bottom: 16px
	margin-left: -14px
	+clr
.user-data__row_pass
	margin-bottom: 8px
	.user-data__descr
		color: #ED1B2D 
	.user-data__input
		height: auto 
.user-data__descr
	width: 125px
	height: 32px
	line-height: 32px
	margin-left: 7px
	float: left
	text-transform: uppercase
	color: #353C3F
	text-align: right
	+is
.user-data__input
	width: 313px
	height: 32px
	float: left
	padding: 0 16px
	.input
		width: 301px
		border-color: #c9cacb
.user-data__input_save
	width: 321px
	margin-top: 2px
	+clr
	.btn-orange2
		width: 125px
		float: right
.user-data__input_red
	+clr
	.user-data__add
		float: left
	.user-data__cancel
		float: right
.user-data__textarea
	width: 330px
	float: left
	padding: 0 16px
	.textarea
		width: 310px
.user-data__checbox
	height: 32px
	line-height: 32px
	margin-left: 10px
.user-data__save
	padding: 5px 0
	display: block
	background: #cdcdcd
	border: 1px solid #b3b3b3
	+border-radius(3px)
	text-align: center
	text-transform: uppercase
	color: #FFF
	text-decoration: none 
	+pb
	&:hover
		+opacity(0.8)
	&:active
		position: relative
		top: 1px
.user-data__recover-pass-ico
	height: 32px
	line-height: 32px
	margin-right: 3px
	float: left
	font-style: normal
	color: #ed1b2d
.user-data__recover-pass
	height: 32px
	line-height: 32px
	margin-top: 2px
	float: left
	color: #ED1B2D
	font-size: 12px
	+is
	&:hover
		text-decoration: none
.wrong-pass
	margin: 2px 0
	font-size: 14px
	color: #ED1B2D 
	+is
.input
	padding: 6px 9px
	border: 1px solid #939597
	+border-radius(3px)
	color: #353C3F
	+is
	+placeholder
		color: #353C3F
	&.is-pass
		// background: #ff9
		border: 2px solid #ED1B2D
.checbox
	input
		margin-right: 5px
		vertical-align: middle
	span
		color: #353C3F
		font-size: 12px
		+is
.select
	width: 100%
	padding: 6px 9px
	border: 1px solid #939597
	+border-radius(3px)
	color: #353c3f
	+is
.textarea
	width: 100%
	min-height: 46px
	padding: 6px 9px
	border: 1px solid #939597
	+border-radius(3px)
	color: #353c3f
	resize: vertical
	+is

.checkbox
	height: 24px
	line-height: 24px
	position: relative
	display: block
	vertical-align: middle
	cursor: pointer
	span
		color: #4C4C4C
		display: inline-block
		margin-left: 8px
		+is
	input
		+opacity(0)
	input + span
		.checkbox__ico
			content: ""
			position: absolute
			top: 4px
			left: -1px
			width: 16px
			height: 16px
			border: 1px solid #b9bbbd
			background: #f8f8f9
			+box
			+border-radius(2px)
	input:checked + span
		.checkbox__ico
			background: #36bfa7
			border-color: #268573
			&:after
				content: ""
				position: absolute
				top: 2px
				left: 2px
				+s(i-checked)
				z-index: 666

// cat
.cat
	border-bottom: 1px solid #ccc
	padding-bottom: 11px
	.checkbox
		margin-left: 2px
.cat__title
	margin-bottom: 5px
	+pb
.reset-wrap
	+clr
	.title
		float: left
	.reset-wrap__reset
		float: right
		color: #3E9ADE
		font-size: 13px
		text-decoration: underline
		+isb
		&:hover
			text-decoration: none
// brand
.brand
	margin-bottom: 61px
.brand__meta
	margin-bottom: 15px
	color: #7F7F7F
	+is
.brand__title
	margin-bottom: 9px
	font-size: 30px
	+is
.brand__block
	margin-bottom: 10px
.brand__letter
	margin-bottom: 10px
	padding-bottom: 7px
	border-bottom: 1px solid #ccc
	color: #353C3F 
	+pb
.brand__list
	+clr
.brand__list-item
	width: 160px
	margin-left: 30px
	float: left
	&:first-child
		margin-left: 0
	li
		margin-bottom: 8px
		line-height: 1
	a
		text-decoration: none
		color: #0086EA
		line-height: 1.2
		+is
.box
	margin-bottom: 15px
	padding: 12px 7px 2px
	border: 1px solid #E9EAE9
	+border-radius(5px)
	&.box_300
		height: 289px
		.box__in
			height: 284px
	&.box_373
		height: 373px
		.box__in
			height: 368px 
.box__in
	padding: 0 8px
	.checkbox
		margin-left: 2px

.banner-block
	margin-bottom: 20px
	+clr
	.banner-mid
		width: 528px
		float: left
	.novelty__banner
		overflow: hidden

.list-product
	margin-bottom: 32px
.list-product__in
	+clr 
	li
		width: 207px
		margin-left: 33px
		float: left
		&:first-child
			margin-left: 0

.list-product_mod
	li
		width: 159px
	.product
		width: 159px
	.product__img
		width: 140px
		height: 140px
		line-height: 140px
		margin-top: 11px
	.product__row-label
		width: auto
		min-width: 100%
		height: auto
		min-height: 17px
		margin-bottom: 5px
		position: static
		float: left
		.label
			// margin-top: 0
			margin-bottom: 0
	.product__title
		height: 27px
		overflow: hidden
		clear: both

.filter
	color: #496282
	font-size: 16px
	+is
	a
		color: #3E9ADE
		&:hover
			text-decoration: none

.scroll-pane
	width: auto !important 
	height: 200px
	overflow: auto
.jspDrag
	+border-radius(10px)
	&:after
		content: ""
		+s(i-scroll)
		position: absolute
		top: 50%
		margin-top: -3px
		left: 1px

.brand-list
	margin: 3px 0
	li
		margin-bottom: 2px
		line-height: 1.6
		color: #4c4c4c
		font-size: 14px
		+is
	span
		
		



	 
