// product
.product
	width: 180px
	margin: 0 auto
	text-align: center
.product_discount
	.product__price
		color: #ED1B2D
.product_discount-alt
	.product__title
		color: #000
		a
			color: #000
	.product__row_cat
		margin-right: 3px
		margin-top: -2px
		text-align: right
.product__img
	width: 177px
	height: 177px
	line-height: 177px
	display: inline-block
	overflow: hidden
	margin-bottom: -2px
	text-align: center
	position: relative
	img
		max-width: 100%
		display: inline-block
		vertical-align: middle
	.label
		position: absolute
		bottom: 9px
		left: 0
		margin-bottom: 0
.product__arr
	cursor: pointer
	display: inline-block
	+s(i-arr3)
.product__number
	display: none
.product__img-heart
	+s(i-heart)
	position: absolute
	top: 10px
	right: 8px
	opacity: .4 
	+tr(all .2s linear)
	line-height: 1 
	cursor: pointer
	span
		position: absolute
		opacity: 0 
		right: -30px 
		top: 5px 
		font-size: 12px 
		color: #228AE4
		font-style: normal  
		right: 20px 
		overflow: 0
		+transition(all .2s linear) 
		white-space: nowrap 
		width: 100px  
	&:hover
		opacity: 1 
		span
			right: 20px
			opacity: 1 
.product__row
	+clr
.product__price-old
	width: 70px 
	height: 22px
	line-height: 22px
	float: left
	color: $gray
	text-decoration: line-through
	text-align: left
	font-size: 12px
	+text-overflow
	+is
.product__price
	width: 85px
	height: 22px
	line-height: 22px
	float: right
	padding-left: 6px
	font-size: 12px
	color: #000
	+isb
	position: relative
	text-align: left
	width: auto
	float: none
	display: inline-block
	&:after
		content: ""
		position: absolute
		right: 3px
		top: 0
		
	&.product__price_black
		color: #000
.product__buy
	+s(i-basket2)
	display: inline-block
	margin-left: 10px 
	+hide-text
	position: absolute
	right: 3px
	top: 0
.product__price_big
	font-size: 16px
.product__title
	color: #0086EA
	font-weight: 400
	font-size: 13px
	line-height: 1.2
	margin-bottom: 8px
	text-align: left
	+is
	a
		color: #0086EA
		text-decoration: none
		+is
.product_big
	width: 208px
	margin: 0
	.product__img
		width: 208px
		height: 208px
		line-height: 208px
		margin-bottom: 13px
		overflow: visible
.product__row_cat
	position: relative
	.product__price-old
	.product__price
		width: 28px
		padding-right: 40px
		letter-spacing: 0.06em
		&:after
			right: 11px
	.product__buy
		right: 11px
.product_mod
	.product__title
		color: #000
		a
			color: #000 
	.product__price
		text-align: right
		&:after
			content: none
		.product__price-arr
			display: inline-block
			cursor: pointer
			+s(i-arr2)
