.sexy-title-alphabet
	margin-top: 16px
	+clr
.sexy-title-wrap
	width: 1218px
	margin-bottom: 15px
	overflow: hidden
.sexy-title-wrap_mod
	width: 455px
	float: left
.sexy-title
	min-width: 380px
	padding-left: 15px
	display: inline-block
	text-transform: uppercase
	+border-radius(5px)
	position: relative
	&:after
		content: ""
		width: 5px
		height: 5px
		background: #939597
		border: 4px solid #fff
		+border-radius(50%)
		position: absolute
		right: -5px
		top: 10px
	&:before
		content: ""
		width: 3000px 
		height: 1px
		background: #939597 
		position: absolute 
		top: 16px
		left: 100%
		z-index: 1000
.sexy-title_red
	background: #ED1B2D
.sexy-title_blue
	background: #0086EA
.sexy-title_green
	background: #53BCAA
.sexy-title_orange
	background: #EC7D00
.sexy-title_mod
	background: #53BCAA
	&:before
		width: 60px
.sexy-title__title
	height: 32px
	line-height: 32px
	color: #FFF
	+pb 