@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext);
/*done by Coderiver.com.ua */
/*------------------------- fonts ------------------------- */
@font-face { font-family: appetite; src: url("../fonts/appetite.eot"); src: url("../fonts/appetite.eot?#iefix") format("embedded-opentype"), url("../fonts/appetite.woff") format("woff"), url("../fonts/appetite.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: appetite-italic; src: url("../fonts/appetite-italic.eot"); src: url("../fonts/appetite-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/appetite-italic.woff") format("woff"), url("../fonts/appetite-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: istokweb-regular; src: url("../fonts/istokweb-regular.eot"); src: url("../fonts/istokweb-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-regular.woff") format("woff"), url("../fonts/istokweb-regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: istokweb-bold; src: url("../fonts/istokweb-bold.eot"); src: url("../fonts/istokweb-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-bold.woff") format("woff"), url("../fonts/istokweb-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: istokweb-italic; src: url("../fonts/istokweb-italic.eot"); src: url("../fonts/istokweb-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-italic.woff") format("woff"), url("../fonts/istokweb-italic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: istokweb-bolditalic; src: url("../fonts/istokweb-bolditalic.eot"); src: url("../fonts/istokweb-bolditalic.eot?#iefix") format("embedded-opentype"), url("../fonts/istokweb-bolditalic.woff") format("woff"), url("../fonts/istokweb-bolditalic.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

img, fieldset, a img { border: none; }

html, body { height: 100%; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/*-------------------------  ------------------------- */
/*-------------------------  mixins & extend & var ------------------------- */
/*------------------------- general ------------------------- */
body { min-width: 1260px; font-size: 14px; font-family: Arial, sans-serif; line-height: 1.4; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }

.wrap { width: 1216px; padding: 0 16px; margin-left: auto; margin-right: auto; }

.l { margin-top: 25px; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }

.l-sidebar { width: 280px; margin-right: 32px; }

.l-sidebar_l { float: left; }

.l-page { overflow: hidden; }

.l-page_mod { *zoom: 1; }
.l-page_mod:after { content: " "; display: table; clear: both; }

/*------------------------- ico ------------------------- */
.ico { vertical-align: middle; display: inline-block; }

.i-ico1 { background: url('../img/icons-s4383d9dee3.png') 0 -1550px no-repeat; width: 26px; height: 19px; }

.i-ico2 { background: url('../img/icons-s4383d9dee3.png') 0 -1440px no-repeat; width: 28px; height: 28px; }

.i-ico3 { background: url('../img/icons-s4383d9dee3.png') 0 -1335px no-repeat; width: 31px; height: 24px; }

.i-ico4 { background: url('../img/icons-s4383d9dee3.png') 0 -1295px no-repeat; width: 25px; height: 30px; }

.i-ico5 { background: url('../img/icons-s4383d9dee3.png') 0 -1403px no-repeat; width: 26px; height: 27px; }

.i-basket { background: url('../img/icons-s4383d9dee3.png') 0 -1713px no-repeat; width: 24px; height: 21px; }

/*------------------------- header  ------------------------- */
.header { height: 60px; margin-bottom: 2px; background: #ec7d00; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.header__left { margin-right: 32px; float: left; }

.header__center { margin-right: 312px; padding: 14px 0; overflow: hidden; text-align: right; }

.header__right { width: 240px; height: 36px; margin: 11px 0 12px 32px; float: right; *zoom: 1; }
.header__right:after { content: " "; display: table; clear: both; }

.logo { display: inline-block; position: relative; background: url('../img/icons-s4383d9dee3.png') 0 -70px no-repeat; width: 178px; height: 36px; font: 0/0 a; text-shadow: none; color: transparent; }

.profile { max-width: 88px; position: relative; display: inline-block; color: white; }
.profile .profile__ico { content: ""; background: url('../img/icons-s4383d9dee3.png') 0 -2008px no-repeat; width: 11px; height: 7px; position: absolute; top: 17px; right: -25px; z-index: 10; }

.profile__meta { font-size: 14px; text-transform: uppercase; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; font-family: "PT Sans", sans-serif; font-weight: 700; }

.profile__user { overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.basket { width: 88px; margin-right: 40px; color: white; display: inline-block; position: relative; }
.basket:before { content: ""; position: absolute; top: 5px; left: -35px; background: url('../img/icons-s4383d9dee3.png') 0 -1713px no-repeat; width: 24px; height: 21px; }

.basket__meta { margin-left: 2px; letter-spacing: 0.5px; font-size: 14px; text-transform: uppercase; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; font-family: "PT Sans", sans-serif; font-weight: 700; }

.basket__user { overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }

.search { width: 584px; height: 24px; padding: 3px; background: white; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; overflow: hidden; -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); float: right; *zoom: 1; }
.search:after { content: " "; display: table; clear: both; }
.search .search__input { width: 480px; padding: 0px 3px 0px 9px; height: 24px; float: left; font-size: 14px; color: #7f7f7f; background: transparent; font-family: "istokweb-italic", arial, sans-serif; }
.search .search__input:-ms-input-placeholder { color: #7f7f7f; font-family: "istokweb-italic", arial, sans-serif; }
.search .search__input:-moz-placeholder { color: #7f7f7f; font-family: "istokweb-italic", arial, sans-serif; }
.search .search__input::-moz-placeholder { color: #7f7f7f; font-family: "istokweb-italic", arial, sans-serif; }
.search .search__input::-webkit-input-placeholder { color: #7f7f7f; font-family: "istokweb-italic", arial, sans-serif; }
.search .search__input::placeholder { color: #7f7f7f; font-family: "istokweb-italic", arial, sans-serif; }
.search .search__btn { float: right; background: url('../img/icons-s4383d9dee3.png') 0 -1652px no-repeat; width: 72px; height: 25px; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.search .search__btn:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.search .search__btn:active { position: relative; top: 1px; }

.nav { background: #53bcaa; }
.nav .nav-i { display: table; position: relative; }
.nav .nav-i > ul { display: table-row; }
.nav .nav-i > ul > li { display: table-cell; }
.nav .nav-i > ul > li > div { margin: 4px 0; position: relative; }
.nav .nav-i > ul > li > div:after { content: ""; width: 4px; height: 4px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #1e6d5f; position: absolute; left: -2px; top: 18px; }
.nav .nav-i > ul > li > div > a { height: 40px; line-height: 37px; display: block; text-align: center; font-size: 14px; letter-spacing: 0.7px; color: white; text-decoration: none; position: relative; font-family: "PT Sans", sans-serif; font-weight: 700; }
.nav .nav-i > ul > li > div > a:hover { background: #1e6d5f; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 0 3px; margin: 0 -3px; z-index: 3000; }
.nav .nav-i > ul > li > div > a > span { line-height: 1.2; display: inline-block; vertical-align: middle; }
.nav .nav-i > ul > li.is-active { background: white; }
.nav .nav-i > ul > li.is-active div:before, .nav .nav-i > ul > li.is-active div:after { content: ""; width: 10px; height: 10px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; position: absolute; top: 17px; z-index: 10; }
.nav .nav-i > ul > li.is-active div:before { left: -5px; }
.nav .nav-i > ul > li.is-active div:after { right: -5px; left: auto; }
.nav .nav-i > ul > li.is-active a { color: #496282; }
.nav .nav-i > ul > li.is-active a:hover { background: white; cursor: default; padding: 0; margin: 0; }
.nav .nav-i > ul > li.is-dropnav:hover .sub-nav { display: block; }
.nav .nav-i > ul > li.is-dropnav div { margin: 4px 0 0; }
.nav .nav-i > ul > li.is-dropnav div > a { height: 44px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.nav .nav-i > ul > li.is-dropnav .sub-nav { display: none; padding: 11px 32px 42px 24px; position: absolute !important; left: -14px; right: -18px; top: 44px; z-index: 2000; background: #1e6d5f; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; -webkit-box-shadow: 0px 1px 0 #cccccc; -moz-box-shadow: 0px 1px 0 #cccccc; box-shadow: 0px 1px 0 #cccccc; color: white; }
.nav .nav-i > ul > li.is-dropnav .sub-nav:after { content: none; }
.nav .nav-i > ul > li:first-child div:after { content: none; }
.nav .sub-nav__left { width: 792px; float: left; *zoom: 1; }
.nav .sub-nav__left:after { content: " "; display: table; clear: both; }
.nav .sub-nav__left ul { width: 264px; float: left; }
.nav .sub-nav__left a { width: 231px; padding: 3px 0 2px 9px; display: block; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; text-decoration: none; color: #d9f4f1; font-family: "istokweb-regular", arial, sans-serif; }
.nav .sub-nav__left a:hover { background: #144c48; }
.nav .sub-nav__banners { width: 400px; float: right; }
.nav .sub-nav__banners .sub-nav__banners-item { margin-bottom: 8px; }
.nav .sub-nav__banners .sub-nav__banners-item img { display: block; }
.nav .sub-nav__title { padding-left: 9px; font-size: 30px; font-family: "istokweb-regular", arial, sans-serif; font-weight: 400; }

/*------------------------- footer ------------------------- */
.footer { background: #333840; color: rgba(255, 255, 255, 0.6); }
.footer .footer-i { width: 1224px; padding: 0 18px; margin-left: auto; margin-right: auto; }
.footer .footer__row { padding: 21px 0 22px; *zoom: 1; }
.footer .footer__row:after { content: " "; display: table; clear: both; }
.footer .footer__row_mod { border-bottom: 2px solid white; }
.footer .footer__row_mod2 { border-top: 2px solid white; }

.footer__label { width: 306px; float: left; *zoom: 1; }
.footer__label:after { content: " "; display: table; clear: both; }
.footer__label .footer__label-top { height: 19px; margin-top: 5px; margin-bottom: 15px; }
.footer__label .footer__label-top .h4 { text-transform: uppercase; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; }

.footer__list { width: 153px; float: left; }
.footer__list .footer__list-top { height: 19px; margin-top: 5px; margin-bottom: 15px; }
.footer__list .footer__list-top .h4 { text-transform: uppercase; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; }
.footer__list ul li { margin-bottom: 3px; color: rgba(255, 255, 255, 0.6); }
.footer__list ul a { text-decoration: none; color: rgba(255, 255, 255, 0.6); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.footer__list ul a:hover { color: rgba(255, 255, 255, 0.4); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }

.footer__meta { height: 19px; margin-bottom: 15px; text-transform: uppercase; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; }

.footer__tel { padding-left: 4px; margin-right: 45px; letter-spacing: 1.5px; display: inline-block; vertical-align: middle; font-size: 28px; color: white; font-family: "istokweb-regular", arial, sans-serif; }

.footer__social { margin-right: 124px; display: inline-block; vertical-align: middle; }

.footer__yandex { margin-top: 8px; margin-right: 65px; display: inline-block; vertical-align: middle; }
.footer__yandex .i-yandex { margin-right: 18px; float: left; background: url('../img/icons-s4383d9dee3.png') 0 -774px no-repeat; width: 62px; height: 40px; }
.footer__yandex .star { float: left; }

.footer__delivery { display: inline-block; vertical-align: middle; }

.footer__delivery-title { margin-bottom: 8px; text-transform: uppercase; color: white; font-size: 14px; line-height: 1; letter-spacing: 1.5px; font-family: "PT Sans", sans-serif; font-weight: 700; }
.footer__delivery-title .h4 { text-transform: uppercase; color: white; font-size: 14px; font-family: "PT Sans", sans-serif; font-weight: 700; }

.delivery-form { width: 278px; padding: 0px; background: white; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-box-shadow: 0 0 0 1px #333840, inset 0 0 5px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 0 1px #333840, inset 0 0 5px rgba(0, 0, 0, 0.25); box-shadow: 0 0 0 1px #333840, inset 0 0 5px rgba(0, 0, 0, 0.25); overflow: hidden; float: right; *zoom: 1; }
.delivery-form:after { content: " "; display: table; clear: both; }
.delivery-form .delivery-form__input { width: 170px; padding: 3px 3px 3px 12px; height: 24px; float: left; font-size: 14px; color: #7f7f7f; font-family: "PT Sans", sans-serif; font-weight: 400; }
.delivery-form .delivery-form__input:-ms-input-placeholder { font-size: 14px; color: #7f7f7f; font-family: "PT Sans", sans-serif; font-weight: 400; }
.delivery-form .delivery-form__input:-moz-placeholder { font-size: 14px; color: #7f7f7f; font-family: "PT Sans", sans-serif; font-weight: 400; }
.delivery-form .delivery-form__input::-moz-placeholder { font-size: 14px; color: #7f7f7f; font-family: "PT Sans", sans-serif; font-weight: 400; }
.delivery-form .delivery-form__input::-webkit-input-placeholder { font-size: 14px; color: #7f7f7f; font-family: "PT Sans", sans-serif; font-weight: 400; }
.delivery-form .delivery-form__input::placeholder { font-size: 14px; color: #7f7f7f; font-family: "PT Sans", sans-serif; font-weight: 400; }
.delivery-form .delivery-form__btn { margin: 3px 3px 0 0; float: right; background: url('../img/icons-s4383d9dee3.png') 0 -1579px no-repeat; width: 88px; height: 25px; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.delivery-form .delivery-form__btn:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.delivery-form .delivery-form__btn:active { position: relative; top: 1px; }

.star { *zoom: 1; }
.star:after { content: " "; display: table; clear: both; }
.star li { margin: 0 3px; float: left; }
.star a { display: inline-block; }
.star .i-star_a { background: url('../img/icons-s4383d9dee3.png') 0 -1369px no-repeat; width: 26px; height: 24px; }
.star .i-star_un { background: url('../img/icons-s4383d9dee3.png') 0 -1478px no-repeat; width: 26px; height: 24px; }

.footer__for-us { padding-right: 30px; line-height: 1.6; }

.footer__step { padding-right: 40px; margin-bottom: 50px; line-height: 1.2; }

.table ul { margin-left: -8px; *zoom: 1; }
.table ul:after { content: " "; display: table; clear: both; }
.table li { width: 32px; height: 32px; margin-left: 8px; margin-bottom: 8px; float: left; background: #6d6e70; }

.footer__kont-item { margin-bottom: 35px; }

.footer__kont-mail { text-decoration: none; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }
.footer__kont-mail a { text-decoration: none; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }

.footer__step-date { margin-top: 5px; color: #0086ea; font-size: 12px; font-family: "istokweb-regular", arial, sans-serif; }

.sexy-title-alphabet { margin-top: 18px; *zoom: 1; }
.sexy-title-alphabet:after { content: " "; display: table; clear: both; }

.sexy-title-wrap { width: 1218px; margin-bottom: 15px; overflow: hidden; }

.sexy-title-wrap_mod { width: 455px; float: left; }

.sexy-title { min-width: 386px; padding-left: 16px; display: inline-block; text-transform: uppercase; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; position: relative; }
.sexy-title:after { content: ""; width: 5px; height: 5px; background: #939597; border: 4px solid white; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; position: absolute; right: -5px; top: 10px; }
.sexy-title:before { content: ""; width: 3000px; height: 1px; background: #939597; position: absolute; top: 16px; left: 100%; z-index: 1000; }

.sexy-title_red { background: #ed1b2d; }

.sexy-title_blue { background: #0086ea; }

.sexy-title_green { background: #53bcaa; }

.sexy-title_orange { background: #ec7d00; }

.sexy-title_mod { background: #53bcaa; }
.sexy-title_mod:before { width: 60px; }

.sexy-title__title { height: 32px; line-height: 32px; letter-spacing: 1.4px; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; }

.product { width: 177px; padding: 0 15px; text-align: center; }

.product__img { width: 177px; height: 177px; line-height: 177px; display: inline-block; overflow: hidden; margin-bottom: -3px; text-align: center; position: relative; }
.product__img img { max-width: 100%; display: inline-block; vertical-align: middle; }
.product__img .label { position: absolute; bottom: 9px; left: 0; margin-bottom: 0; }

.product__row { *zoom: 1; }
.product__row:after { content: " "; display: table; clear: both; }

.product__price-old { width: 71px; height: 22px; line-height: 22px; float: left; color: #7f7f7f; text-decoration: line-through; text-align: center; font-size: 12px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; font-family: "istokweb-regular", arial, sans-serif; }

.product__price { width: 95px; float: right; padding-left: 6px; color: black; font-family: "istokweb-bold", arial, sans-serif; position: relative; }
.product__price:after { content: ""; display: inline-block; margin-left: 10px; background: url('../img/icons-s4383d9dee3.png') 0 -1687px no-repeat; width: 19px; height: 16px; }

.product__title { color: #0086ea; font-weight: 400; text-align: left; font-family: "istokweb-regular", arial, sans-serif; }
.product__title a { color: #0086ea; text-decoration: none; font-family: "istokweb-regular", arial, sans-serif; }

.product_discount .product__price { color: #ed1b2d; }

.product_mod .product__title { color: black; }
.product_mod .product__title a { color: black; }
.product_mod .product__price { text-align: right; }
.product_mod .product__price:after { content: none; }
.product_mod .product__price .product__price-arr { display: inline-block; cursor: pointer; background: url('../img/icons-s4383d9dee3.png') 0 -1941px no-repeat; width: 7px; height: 14px; }

.layout { *zoom: 1; }
.layout:after { content: " "; display: table; clear: both; }
.layout .l-col1 { float: left; width: 25%; }
.layout .l-col2 { float: right; width: 60%; }

/*------------------------- Normally mainpage styles ------------------------- */
.social { *zoom: 1; }
.social:after { content: " "; display: table; clear: both; }
.social li { margin: 0 10px; float: left; }
.social a { display: block; font: 0/0 a; text-shadow: none; color: transparent; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.social a:hover { -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60); opacity: 0.6; }
.social a:active { position: relative; top: 1px; }
.social .social__fb { background: url('../img/icons-s4383d9dee3.png') 0 -1860px no-repeat; width: 28px; height: 28px; }
.social .social__vk { background: url('../img/icons-s4383d9dee3.png') 0 -1822px no-repeat; width: 28px; height: 28px; }
.social .social__tw { background: url('../img/icons-s4383d9dee3.png') 0 -1614px no-repeat; width: 28px; height: 28px; }
.social .social__od { background: url('../img/icons-s4383d9dee3.png') 0 -1512px no-repeat; width: 28px; height: 28px; }

.alphabet { width: 275px; *zoom: 1; }
.alphabet:after { content: " "; display: table; clear: both; }
.alphabet li { margin: 0 4px 10px; float: left; }
.alphabet a { text-decoration: none; color: rgba(255, 255, 255, 0.6); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }
.alphabet a:hover { color: rgba(255, 255, 255, 0.4); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }

.alphabet-filter { height: 32px; line-height: 32px; overflow: hidden; }
.alphabet-filter ul { *zoom: 1; }
.alphabet-filter ul:after { content: " "; display: table; clear: both; }
.alphabet-filter li { margin: 0 6px; float: left; }
.alphabet-filter a { font-size: 12px; text-decoration: none; color: #6d6e70; font-family: "PT Sans", sans-serif; font-weight: 700; }
.alphabet-filter .alphabet-filter__border { margin-right: 27px; position: relative; }
.alphabet-filter .alphabet-filter__border:after { content: ""; width: 15px; height: 1px; background: #939597; position: absolute; top: 15px; right: -25px; }
.alphabet-filter .alphabet-filter__border span { margin: 0 5px; }

.payment-methods { *zoom: 1; }
.payment-methods:after { content: " "; display: table; clear: both; }
.payment-methods li { margin: 0 7px 14px; float: left; }

.wrap-gallery { margin-top: 30px; *zoom: 1; }
.wrap-gallery:after { content: " "; display: table; clear: both; }

.gallery { float: left; position: relative; }

.gallery__item { position: relative; }

.gallery__item-img { width: 816px; height: 336px; line-height: 336px; overflow: hidden; }
.gallery__item-img img { min-width: 816px; max-height: 336px; }

.gallery__title { margin-bottom: 69px; margin-left: 25px; font-size: 56px; line-height: 1; text-transform: uppercase; color: white; font-family: "istokweb-bold", arial, sans-serif; }

.gallery__item-descr { width: 432px; position: absolute; left: 50%; top: 80px; margin-left: -213px; }

.gallery__prev, .gallery__next { position: absolute; z-index: 100; top: 50%; margin-top: -37px; cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; }

.gallery__pager { position: absolute; left: 0; right: 0; bottom: 12px; text-align: center; }
.gallery__pager span { width: 8px; height: 8px; margin: 0 4px; display: inline-block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: rgba(255, 255, 255, 0.3); position: relative; z-index: 1000; font: 0/0 a; text-shadow: none; color: transparent; }
.gallery__pager span.cycle-pager-active { background: rgba(255, 255, 255, 0.8); }

.gallery__prev { left: 0; background: url('../img/icons-s4383d9dee3.png') 0 -182px no-repeat; width: 34px; height: 74px; }

.gallery__next { right: 0; background: url('../img/icons-s4383d9dee3.png') 0 -266px no-repeat; width: 34px; height: 74px; }

.gallery__item-label { height: 40px; line-height: 40px; padding: 0 25px; background: #d76c05; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ed7e00), color-stop(100%, #be580a)); background-image: -webkit-linear-gradient(#ed7e00, #be580a); background-image: -moz-linear-gradient(#ed7e00, #be580a); background-image: -o-linear-gradient(#ed7e00, #be580a); background-image: linear-gradient(#ed7e00, #be580a); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; font-size: 16px; color: white; font-family: "istokweb-regular", arial, sans-serif; position: relative; }
.gallery__item-label:after, .gallery__item-label:before { content: ""; width: 20px; height: 20px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #d76c05; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e27502), color-stop(100%, #c86008)); background-image: -webkit-linear-gradient(#e27502, #c86008); background-image: -moz-linear-gradient(#e27502, #c86008); background-image: -o-linear-gradient(#e27502, #c86008); background-image: linear-gradient(#e27502, #c86008); position: absolute; top: 10px; }
.gallery__item-label:after { left: -8px; }
.gallery__item-label:before { right: -8px; }

.banner { width: 400px; float: left; }

.banner__item { width: 400px; height: 112px; overflow: hidden; }
.banner__item img { width: 100%; }

.partners { margin-top: 6px; }
.partners ul { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.partners ul:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.partners li { display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.partners li a { display: inline-block; vertical-align: middle; line-height: 1.1; text-transform: uppercase; color: #0086ea; text-align: center; text-decoration: underline; font-family: "PT Sans", sans-serif; font-weight: 700; }
.partners li a:hover { text-decoration: none; }
.partners .partners__all { line-height: 99px; }

.product-list { margin-bottom: 25px; position: relative; }
.product-list ul { *zoom: 1; }
.product-list ul:after { content: " "; display: table; clear: both; }
.product-list li { width: 202px; float: left; }
.product-list .product-list__prev, .product-list .product-list__next { position: absolute; top: 81px; cursor: pointer; z-index: 1000; }
.product-list .product-list__prev { left: -24px; background: url('../img/icons-s4383d9dee3.png') 0 -1770px no-repeat; width: 8px; height: 16px; }
.product-list .product-list__next { right: -26px; background: url('../img/icons-s4383d9dee3.png') 0 -1744px no-repeat; width: 8px; height: 16px; }

.label { display: inline-block; padding: 4px 12px; margin-bottom: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-transform: uppercase; font-size: 11px; line-height: 1; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; }

.label_discount { background: #ed1b2d; }

.label_new { background: #0086ea; }

.promo { margin-bottom: 24px; background: #53bcaa; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; *zoom: 1; }
.promo:after { content: " "; display: table; clear: both; }
.promo:after, .promo:before { content: ""; width: 20px; height: 20px; background: white; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; position: absolute; top: 18px; }
.promo:after { left: -12px; }
.promo:before { right: -12px; }

.promo__num { height: 56px; float: left; }
.promo__num ul { *zoom: 1; }
.promo__num ul:after { content: " "; display: table; clear: both; }
.promo__num li { width: 204px; height: 56px; line-height: 56px; float: left; text-align: center; }
.promo__num li .ico { margin-right: 15px; }
.promo__num .promo__item-descr { vertical-align: middle; display: inline-block; line-height: 1.2; color: white; }
.promo__num .promo__item-meta { text-transform: uppercase; font-family: "PT Sans", sans-serif; font-weight: 700; }

.promo__tel { height: 56px; line-height: 56px; overflow: hidden; font-size: 28px; text-align: center; color: white; font-family: "istokweb-regular", arial, sans-serif; }
.promo__tel .ico { margin-right: 15px; }
.promo__tel .promo__tel-num { height: 56px; line-height: 56px; display: inline-block; }

.novelty { *zoom: 1; }
.novelty:after { content: " "; display: table; clear: both; }
.novelty .product { width: 174px; }

.novelty__list { float: left; *zoom: 1; }
.novelty__list:after { content: " "; display: table; clear: both; }
.novelty__list li { float: left; }

.novelty__banner { overflow: hidden; }

.novelty__banner-item { margin-bottom: 16px; }
.novelty__banner-item a, .novelty__banner-item img { display: block; }

.slist { margin-bottom: 34px; *zoom: 1; }
.slist:after { content: " "; display: table; clear: both; }
.slist ul { width: 125px; margin-left: 30px; float: left; }
.slist ul:first-child { margin-left: 0; }
.slist li { line-height: 1.2; }
.slist a { width: 125px; display: inline-block; color: #0086ea; line-height: 1; text-decoration: none; font-size: 12px; overflow: hidden; -ms-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; font-family: "istokweb-regular", arial, sans-serif; }
.slist .slist__title { height: 32px; line-height: 32px; margin: 7px 0; }
.slist .slist__title .h3 { color: #353c3f; text-transform: uppercase; font-size: 12px; line-height: 1; vertical-align: middle; display: inline-block; font-family: "PT Sans", sans-serif; font-weight: 700; }

.best { padding: 25px 0 27px 15px; background: #faa519; *zoom: 1; }
.best:after { content: " "; display: table; clear: both; }

.best__left { width: 278px; margin-right: 50px; margin-left: -20px; float: left; *zoom: 1; }
.best__left:after { content: " "; display: table; clear: both; }

.best__note { width: 265px; float: right; font-size: 12px; line-height: 2; color: rgba(255, 255, 255, 0.5); font-family: "istokweb-regular", arial, sans-serif; }

.best__list { overflow: hidden; }

.best__list-title { margin-bottom: 23px; color: white; font-size: 28px; line-height: 1; font-family: "istokweb-bold", arial, sans-serif; }

.best__list-row { *zoom: 1; }
.best__list-row:after { content: " "; display: table; clear: both; }

.best__list-item { width: 280px; margin-left: 29px; line-height: 1.45; float: left; color: white; font-family: "istokweb-regular", arial, sans-serif; }
.best__list-item:first-child { margin-left: 0; }

.best__list-meta { margin-bottom: 10px; color: #353c3f; text-transform: uppercase; font-family: "PT Sans", sans-serif; font-weight: 700; }

.subnav { padding: 20px 15px; margin-bottom: 25px; background: #53bcaa; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.subnav li { border-bottom: 1px solid #41c6b7; }
.subnav a { margin: 3px 0; display: block; color: white; text-decoration: none; }

.subnav__title { margin-bottom: 20px; text-decoration: none; font-family: "PT Sans", sans-serif; font-weight: 700; font-weight: bold; text-decoration: underline; color: white; }
.subnav__title:hover { text-decoration: none; }
.subnav__title a { text-decoration: none; font-family: "PT Sans", sans-serif; font-weight: 700; font-weight: bold; text-decoration: underline; color: white; }
.subnav__title a:hover { text-decoration: none; }

.banner-mini__item { width: 280px; height: 110px; overflow: hidden; margin-bottom: 15px; }
.banner-mini__item img { width: 100%; display: block; }

.goods { margin-bottom: 40px; }

.goods__row { *zoom: 1; }
.goods__row:after { content: " "; display: table; clear: both; }

.goods__left { width: 592px; float: left; }

.goods__right { width: 312px; float: right; }

.goods__right-in { margin-top: 75px; }

.goods__right-note { margin-bottom: 30px; font-size: 14px; color: #939597; font-family: "istokweb-regular", arial, sans-serif; }

.goods__title { margin-top: 20px; margin-bottom: 10px; font-size: 30px; line-height: 1; font-family: "istokweb-regular", arial, sans-serif; }

.goods__title_blue { color: #0086ea; letter-spacing: 0.2px; }

.goods__meta { margin-top: 25px; margin-bottom: 15px; *zoom: 1; }
.goods__meta:after { content: " "; display: table; clear: both; }

.goods__meta-label { float: left; }

.goods__meta-label1 { width: 160px; }

.goods__meta-label2 { width: 210px; }

.goods__meta-label3 { overflow: hidden; }

.goods__meta-desc { color: #353c3f; text-transform: uppercase; font-family: "PT Sans", sans-serif; font-weight: 700; }

.goods__content { padding-right: 50px; color: #6d6e70; font-family: "istokweb-regular", arial, sans-serif; }
.goods__content p { margin-bottom: 15px; }

.goods__meta-more { text-decoration: none; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }

.goods-list { *zoom: 1; }
.goods-list:after { content: " "; display: table; clear: both; }
.goods-list .goods-list__left { width: 280px; margin-right: 16px; float: left; }
.goods-list .goods-list__right { overflow: hidden; }

.goods-list__item { margin-bottom: 15px; }
.goods-list__item .goods-list__item-meta { color: #353c3f; font-family: "istokweb-bold", arial, sans-serif; }
.goods-list__item .goods-list__item-descr { color: #6d6e70; font-family: "istokweb-regular", arial, sans-serif; }

.breadcrumbs ul { *zoom: 1; }
.breadcrumbs ul:after { content: " "; display: table; clear: both; }
.breadcrumbs li { margin-left: 30px; float: left; }
.breadcrumbs li:first-child { margin-left: 0; }
.breadcrumbs li:first-child a:after { content: none; }
.breadcrumbs a { color: #7f7f7f; text-decoration: none; position: relative; }

.favorites { color: #0086ea; font-size: 12px; text-transform: uppercase; text-decoration: none; font-family: "PT Sans", sans-serif; font-weight: 700; }
.favorites:before { content: ""; margin-right: 10px; display: inline-block; vertical-align: middle; background: url('../img/icons-s4383d9dee3.png') 0 -544px no-repeat; width: 18px; height: 16px; }

.produce { *zoom: 1; }
.produce:after { content: " "; display: table; clear: both; }

.produce__left { width: 280px; margin-right: 16px; float: left; }

.produce__right { padding: 0 16px; overflow: hidden; }

.produce__right-label { height: 280px; margin-top: 12px; margin-bottom: 16px; }

.produce__right-label_mod { height: 195px; }

.produce__right-descr { height: 225px; }

.produce__right-descr_mod { height: 149px; }

.produce__price-old { display: inline-block; position: relative; color: #353c3f; font-size: 16px; font-family: "istokweb-regular", arial, sans-serif; }
.produce__price-old:before { content: ""; background: url(../img/icons/i-line.png) 0px 0px no-repeat; width: 68px; height: 6px; position: absolute; top: 6px; left: 50%; margin-left: -34px; }

.produce__price-actual { color: #ed1b2d; font-size: 28px; font-family: "istokweb-bold", arial, sans-serif; }

.produce__media { width: 279px; height: 279px; line-height: 279px; margin-bottom: 8px; border: 1px solid #e6e6e6; overflow: hidden; text-align: center; }
.produce__media img { display: inline-block; vertical-align: middle; }

.produce__caro { *zoom: 1; font-size: 0; }
.produce__caro:after { content: " "; display: table; clear: both; }

.produce__caro-media { width: 62px; height: 62px; line-height: 62px; margin-left: 8px; display: inline-block; text-align: center; overflow: hidden; border: 1px solid #939597; font-size: 0; }
.produce__caro-media:first-child { margin-left: 0; }
.produce__caro-media img { display: inline-block; vertical-align: middle; }

.produce__row { margin-bottom: 21px; *zoom: 1; }
.produce__row:after { content: " "; display: table; clear: both; }
.produce__row .star { margin-right: 19px; float: left; }
.produce__row .reviews { float: left; }

.produce__basket { height: 64px; line-height: 64px; }
.produce__basket .input-mini { margin-right: 11px; }

.produce__article { margin-bottom: 10px; line-height: 1; color: #939597; font-family: "istokweb-regular", arial, sans-serif; }

.produce__article-descr { text-decoration: none; color: #0086ea; font-family: "istokweb-bold", arial, sans-serif; }

.star img { cursor: pointer; margin-left: -2px; }

.reviews { position: relative; text-decoration: none; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }
.reviews:before { content: ""; margin-right: 8px; display: inline-block; vertical-align: middle; background: url('../img/icons-s4383d9dee3.png') 0 -750px no-repeat; width: 16px; height: 14px; }

.input-mini { width: 41px; height: 46px; line-height: 46px; padding-right: 14px; text-align: right; vertical-align: middle; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; border: 1px solid #939597; -webkit-box-shadow: inset 0 0 3px #939597; -moz-box-shadow: inset 0 0 3px #939597; box-shadow: inset 0 0 3px #939597; font-size: 28px; color: #353c3f; font-family: "istokweb-bold", arial, sans-serif; }

.btn { height: 32px; line-height: 32px; padding: 0 30px; display: inline-block; vertical-align: middle; position: relative; text-transform: uppercase; text-decoration: none; text-align: center; color: white; font-family: "PT Sans", sans-serif; font-weight: 700; }
.btn:before, .btn:after { content: ""; width: 4px; height: 32px; position: absolute; top: 0; }
.btn:before { left: -2px; }
.btn:after { right: -2px; }
.btn:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.btn:active { top: 1px; }

.btn-orange { height: 50px; line-height: 49px; padding: 0 17px; background: url(../img/icons/btn_center-or.png) 0px 0px repeat-x; display: inline-block; vertical-align: middle; font-size: 20px; color: white; text-decoration: none; position: relative; font-family: "PT Sans", sans-serif; font-weight: 700; }
.btn-orange:before, .btn-orange:after { content: ""; width: 7px; height: 50px; position: absolute; top: 0; }
.btn-orange:before { background: url(../img/icons/btn_left-or.png) 0px 0px no-repeat; left: -7px; }
.btn-orange:after { background: url(../img/icons/btn_right-or.png) 0px 0px no-repeat; right: -7px; }
.btn-orange:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.btn-orange:active { top: 1px; }

.btn-green { background: url(../img/icons/btn_center-bl.png) 0px 0px repeat-x; }
.btn-green:before { background: url(../img/icons/btn_left-bl.png) 0px 0px no-repeat; }
.btn-green:after { background: url(../img/icons/btn_right-bl.png) 0px 0px no-repeat; }

.btn-gray { background: url(../img/icons/btn_center-gr.png) 0px 0px repeat-x; }
.btn-gray:before { background: url(../img/icons/btn_left-gr.png) 0px 0px no-repeat; }
.btn-gray:after { background: url(../img/icons/btn_right-gr.png) 0px 0px no-repeat; }

.btn_basket { letter-spacing: 1px; }
.btn_basket .i-basket { margin-top: -10px; margin-right: 11px; margin-left: -4px; }

.delivery { margin-bottom: 15px; color: #00a550; text-transform: uppercase; font-family: "PT Sans", sans-serif; font-weight: 700; position: relative; }
.delivery:after { content: ""; margin-left: 15px; display: inline-block; background: url('../img/icons-s4383d9dee3.png') 0 -1965px no-repeat; width: 17px; height: 14px; }

.day { margin-bottom: 15px; font-family: "istokweb-regular", arial, sans-serif; }

.day__title { color: #353c3f; font-size: 25px; }

.day__date { font-size: 14px; color: #6d6e70; }

.consultant { margin-bottom: 75px; *zoom: 1; }
.consultant:after { content: " "; display: table; clear: both; }

.consultant__media { width: 88px; height: 88px; margin-right: 16px; float: left; overflow: hidden; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: red; }
.consultant__media img { width: 100%; }

.consultant__descr { overflow: hidden; }

.consultant__question { margin-bottom: 10px; color: #6d6e70; font-family: "istokweb-regular", arial, sans-serif; }

.consultant__name { display: inline-block; position: relative; font-size: 20px; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }
.consultant__name a { font-size: 20px; color: #0086ea; text-decoration: none; font-family: "istokweb-regular", arial, sans-serif; }

.consultant__name-status { width: 110px; position: absolute; top: 0px; right: -110px; color: #41c6b7; font-size: 10px; text-transform: uppercase; font-family: "PT Sans", sans-serif; font-weight: 700; }

.more-product__title { margin-bottom: 20px; color: #353c3f; text-transform: uppercase; font-family: "PT Sans", sans-serif; font-weight: 700; }

.more-product__item { margin-bottom: 10px; *zoom: 1; }
.more-product__item:after { content: " "; display: table; clear: both; }

.more-product__item-media { width: 88px; height: 88px; line-height: 88px; margin-right: 16px; float: left; overflow: hidden; text-align: center; }
.more-product__item-media img { max-width: 100%; vertical-align: middle; }

.more-product__item-descr { padding-top: 10px; overflow: hidden; }

.more-product__item-name { margin-bottom: 10px; display: block; color: #0086ea; text-decoration: none; font-family: "istokweb-regular", arial, sans-serif; }

.more-product__price { text-align: right; font-size: 12px; font-family: "istokweb-bold", arial, sans-serif; }
.more-product__price:after { content: ""; display: inline-block; background: url('../img/icons-s4383d9dee3.png') 0 -1687px no-repeat; width: 19px; height: 16px; }

.popup-product { width: 594px; padding: 4px 15px 19px 31px; border: 1px solid #939597; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 3px #a8aaad; -moz-box-shadow: 0 0 3px #a8aaad; box-shadow: 0 0 3px #a8aaad; position: absolute; top: 150px; left: 50%; margin-left: -298px; }

.i-cross { position: absolute; top: 14px; right: 15px; cursor: pointer; background: url('../img/icons-s4383d9dee3.png') 0 -1989px no-repeat; width: 9px; height: 9px; }

.popup-product__content { margin-top: 10px; margin-bottom: 13px; color: #6d6e70; font-family: "istokweb-regular", arial, sans-serif; }
.popup-product__content p { margin-bottom: 3px; }

.popup-product__row { *zoom: 1; }
.popup-product__row:after { content: " "; display: table; clear: both; }

.popup-product__label { width: 190px; float: left; }

.popup-product__label1 { margin-right: 13px; }

.popup-product__label2 { width: 174px; }

.popup-product__label-item { text-decoration: none; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }

.more { color: #0086ea; text-decoration: none; font-family: "istokweb-regular", arial, sans-serif; }

.num { width: 18px; height: 18px; line-height: 18px; display: inline-block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; color: #486181; font-size: 12px; text-align: center; font-style: normal; font-family: "istokweb-bold", arial, sans-serif; }

.profile-nav { padding: 15px 8px 20px; margin-bottom: 50px; background: #53bcaa; }
.profile-nav a { padding: 7px 8px; display: block; color: white; text-decoration: none; font-family: "istokweb-bold", arial, sans-serif; }
.profile-nav .is-active { background: #1e6d5f; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.user-data { margin-bottom: 50px; }

.user-data_mod { width: 470px; float: left; }

.user-data_mod2 { width: 434px; margin-top: 60px; float: left; }
.user-data_mod2 .user-data__form { width: 404px; }
.user-data_mod2 .user-data__form .user-data__edit-red { color: #939597; }
.user-data_mod2 .user-data__form .user-data__edit-del { color: #939597; }

.user-data__title { margin-bottom: 20px; margin-right: 25px; display: inline-block; font-size: 30px; color: black; font-family: "istokweb-regular", arial, sans-serif; }

.user-data__form { width: 415px; padding: 15px; background: whitesmoke; color: #353c3f; font-family: "istokweb-regular", arial, sans-serif; }
.user-data__form .user-data__form-user { margin-bottom: 15px; font-family: "istokweb-bold", arial, sans-serif; }
.user-data__form .user-data__form-tel { margin-bottom: 15px; }
.user-data__form .user-data__edit { padding-top: 10px; margin-top: 10px; border-top: 1px solid #aeacae; }
.user-data__form .user-data__edit-red { margin-right: 5px; display: inline-block; color: #0086ea; text-decoration: underline; cursor: pointer; }
.user-data__form .user-data__edit-red:hover { text-decoration: none; }
.user-data__form .user-data__edit-del { display: inline-block; color: #ed1b2d; text-decoration: underline; cursor: pointer; }
.user-data__form .user-data__edit-del:hover { text-decoration: none; }

.user-data__new { display: inline-block; color: #0086ea; font-family: "istokweb-regular", arial, sans-serif; }
.user-data__new:hover { text-decoration: none; }

.user-data__section { margin-bottom: 32px; }

.user-data__row { margin-bottom: 16px; *zoom: 1; }
.user-data__row:after { content: " "; display: table; clear: both; }

.user-data__descr { width: 104px; height: 32px; line-height: 32px; float: left; color: #939597; text-align: right; font-family: "istokweb-regular", arial, sans-serif; }

.user-data__input { width: 330px; height: 32px; float: left; padding: 0 16px; }
.user-data__input .input { width: 310px; }

.user-data__input_red { *zoom: 1; }
.user-data__input_red:after { content: " "; display: table; clear: both; }
.user-data__input_red .user-data__add { float: left; }
.user-data__input_red .user-data__cancel { float: right; }

.user-data__textarea { width: 330px; float: left; padding: 0 16px; }
.user-data__textarea .textarea { width: 310px; }

.user-data__checbox { height: 32px; line-height: 32px; }

.user-data__save { padding: 5px 0; display: block; background: #cdcdcd; border: 1px solid #b3b3b3; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; text-align: center; text-transform: uppercase; color: white; text-decoration: none; font-family: "PT Sans", sans-serif; font-weight: 700; }
.user-data__save:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }
.user-data__save:active { position: relative; top: 1px; }

.user-data__recover-pass { height: 32px; line-height: 32px; float: left; color: #0086ea; font-size: 12px; font-family: "istokweb-regular", arial, sans-serif; }
.user-data__recover-pass:hover { text-decoration: none; }

.input { padding: 6px 9px; border: 1px solid #939597; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #353c3f; font-family: "istokweb-regular", arial, sans-serif; }
.input:-ms-input-placeholder { color: #353c3f; }
.input:-moz-placeholder { color: #353c3f; }
.input::-moz-placeholder { color: #353c3f; }
.input::-webkit-input-placeholder { color: #353c3f; }
.input::placeholder { color: #353c3f; }
.input.is-pass { background: #ffff99; }

.checbox input { margin-right: 5px; vertical-align: middle; }
.checbox span { color: #353c3f; font-size: 12px; font-family: "istokweb-regular", arial, sans-serif; }

.select { width: 100%; padding: 6px 9px; border: 1px solid #939597; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #353c3f; font-family: "istokweb-regular", arial, sans-serif; }

.textarea { width: 100%; min-height: 46px; padding: 6px 9px; border: 1px solid #939597; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; color: #353c3f; resize: vertical; font-family: "istokweb-regular", arial, sans-serif; }
